/* work-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/work-sans-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root{
    --main--bg-color: #fff;
    --secondmain-bg-color:  #FFF7F4;
    --title-text-color: #373737;
    --subtitle-text-color: #FF5300;
    --desc-text-color: #7B7B7B;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background-color: var(--main--bg-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ************ HEADER STYLE STARTS*************** */
.site-header{
    padding-top: 26px;
    padding-bottom: 26px;
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper--start{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-right: 77px;
}

.sitenav__list{
    display: flex;
}

.sitenav__item:not(:last-child){
    margin-right: 38px;
}

.sitenav__link{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.sitenav__link:hover{
    color: var(--subtitle-text-color);
}
/* ************ HEADER STYLE ENDS*************** */


/* ************ MAIN STYLE STARTS*************** */

/* ************ HERO STYLE STARTS*************** */
.site-main{
    position: relative;
    background-color: var(--main--bg-color);
}

/* ************ HERO STYLE ENDS*************** */
.hero-section{
    padding-top: 276px;
    padding-bottom: 206px;
    background-color: var(--secondmain-bg-color);
}

.hero__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__wrapper--start{
    width: 493px;
}

.hero__title{
    margin-top: 0;
    margin-bottom: 11px;
    width: 440px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.hero__title-color{
    color: var(--subtitle-text-color);
}

.hero__desc{
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.hero__link{
    padding: 13px 22px;
    margin-top: 0;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--subtitle-text-color);
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hero__link:hover{
    color: var(--main--bg-color);
    background: #FF5300;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* ************ ABOUT STYLE STARTS*************** */
.about-section{
    padding-top: 120px;
    background-color: var(--main--bg-color);
}

.about__wrapper{
}

.about__wrapper--start{
    margin-bottom: 60px;
}

.about__inside{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
}

.about__title{
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.about__subtitle{
    width: 494px;
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.about__subtitle-color{
    color: var(--subtitle-text-color);
}

.about__desc{
    width: 569px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.about__link{
    padding: 13px 22px;
    margin-top: 0;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--subtitle-text-color);
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.about__link:hover{
    color: var(--main--bg-color);
    background: #FF5300;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.about__wrapper--end{
    margin-bottom: 120px;
}

.about__list{
    display: flex;
    align-items: center;
    text-align: center;
}

.about__item{
    width: 270px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.about__item:not(:last-child){
    margin-right: 30px;
}

.about__img{
    padding-top: 25px;
    margin-bottom: 16px;
}

.about__subtext{
    margin-top: 0;
    padding-right: 31px;
    padding-left: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--title-text-color);
}

/* ************ ABOUT STYLE ENDS*************** */


/* ************ EXPERIENCE STYLE STARTS*************** */
.exp-section{
    padding-top: 83px;
    padding-bottom: 60px;
    background-color: var(--secondmain-bg-color);
}

.exp__wrapper{
    display: flex;
    justify-content: space-between;
}

.exp__wrapper--start{
    margin-right: 30px;
}

.exp__title{
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.exp__subtitle{
    width: 487px;
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.exp__subtitle-color{
    color: var(--subtitle-text-color);
}

.exp__desc{
    width: 569px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.exp__link{
    padding: 13px 22px;
    margin-top: 0;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--subtitle-text-color);
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.exp__link:hover{
    color: var(--main--bg-color);
    background: #FF5300;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.exp__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.exp__item{
    width: 270px;
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.exp__item:nth-child(2){
    margin-top: 23px;
    margin-bottom: 0;
}

.exp__item:nth-child(4){
    margin-top: 30px;
    margin-bottom: 0px;
}


.exp__title-inside{
    margin-top: 0;
    margin-bottom: 18px;
    padding-top: 74px;
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.exp__desc-inside{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 74px;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--desc-text-color);
}

/* ************ EXPERIENCE STYLE ENDS*************** */


/* ************ TEAM STYLE STARTS*************** */
.team-section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--main--bg-color);
}

.team__text{
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    text-align: center;
    color: var(--desc-text-color);
}

.team__title{
    width: 450px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: var(--title-text-color);
}

.team__title-color{
    color: var(--subtitle-text-color);
}

.team__list{
    display: flex;
    align-items: center;
    text-align: center;
}

.team__item{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.team__item:not(:last-child){
    margin-right: 30px;
}


.team__name{
    padding-top: 24px;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 123.6%;
    color: #000;
}

.team__position{
    padding-bottom: 15px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}
/* ************ TEAM STYLE ENDS*************** */


/* ************ WORK STYLE START*************** */
.work-section{
    padding-bottom: 120px;
}

.work__wrapper{
    text-align: center;
}

.work__subtitle{
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.work__title{
    width: 649px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.work__title-color{
    color: var(--subtitle-text-color);
}

.work__lines{
    margin-top: 0;
    margin-bottom: 60px;
}

.work__sublines:not(:last-child){
    margin-right: 43px;
}

.work__sublines:hover{
    color: var(--subtitle-text-color);
    cursor: pointer;
}

.work__images--insideup{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.work__images--insidedown{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* ************ WORK STYLE ENDS*************** */



/* ************ CLIENT STYLE STARTS*************** */
.client-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondmain-bg-color);
}

.client__wrapper{
    position: relative;
    justify-content: center;
}

.client__subtitle{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.client__title{
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: var(--title-text-color);
}

.client__title-color{
    color: var(--subtitle-text-color);
}

.client__list{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.client__item{
    padding-left: 65px;
    width: 470px;
    background-color: var(--subtitle-text-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.client__img1{
    position: absolute;
    top: 25px;
    left: -40px;
}

.client__img2{
    position: absolute;
    top: 25px;
    left: 660px;
}

.client__name{
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 34px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 123.6%;
    color: var(--main--bg-color);
}

.client__position{
    margin-top: 0;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--main--bg-color);
}

.client__desc{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--main--bg-color);
}

.client__slider{
    margin-top: 50px;
    margin-left: 550px;
}

/* ************ CLIENT STYLE ENDS*************** */



/* ************ BLOG STYLE STARTS*************** */
.blog-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.blog__subtitle{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.blog__title{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: var(--title-text-color);
}

.blog__title-color{
    color: var(--subtitle-text-color);
}

.blog__wrapper--start-info{
    display: flex;
    justify-content: space-between;
}

.blog__wrapper--start{
    padding: 25px;
    margin-right: 30px;
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.blog__textimg-top{
    display: flex;
}

.blog__title-top{
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--subtitle-text-color);
}

.blog__desc-top{
    width: 308px;
    margin-top: 0;
    margin-right: 48px;
    margin-bottom: 29px;
    font-size: 25px;
    line-height: 123.6%;
    color: var(--title-text-color);
}


.blog__wrapper--end{
    padding: 25px;
    background: var(--main--bg-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.blog__textimg-under{
    display: flex;
    align-items: center;
}

.blog__img-under{
    margin-right: 10px;
}

.blog__title-under{
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.blog__time-under{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.blog__slider{
    padding-top: 60px;
    margin-left: 540px;
}

/* ************ BLOG STYLE ENDS*************** */



/* ************ CONTACT STYLE STARTS*************** */
.contact-section{
}

.contact__subtitle{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color); 
}

.contact__title{
    margin-left: auto;
    margin-right: auto;
    width: 367px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39.06px;
    line-height: 123.6%;
    text-align: center;
    color: var(--title-text-color);
}

.contact__title-color{
    color: var(--subtitle-text-color);
}

.contact__list{
    display: flex;
    margin-bottom: 60px;
}

.contact__item:not(:last-child){
    margin-right: 30px;
}

.contact__item{
    padding-top: 18px;
    padding-left: 18px;
    width: 370px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.contact__inside{
    display: flex;
}

.contact__icon{
    
}

.contact_top{
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 25px;
    line-height: 123.6%;
    color: var(--subtitle-text-color);
}

.contact_under{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.contact__types{
    margin-top: 38;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--desc-text-color);
}

.contact__types-color{
    color: var(--subtitle-text-color);
}


.contact__inputs{
    display: flex;
    align-items: end;
}

.contact__input-title{
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 123.6%;
    color: var(--title-text-color);
}

.contact__input-title-color{
    color: var(--subtitle-text-color);
}

.contact__name{
    margin-right: 10px;
    margin-bottom: 18px;
    padding-left: 18px;
    width: 255px;
    min-height: 60px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
}

.contact__inputs-inside{
}

.contact__comment{
    padding-top: 18px;
    padding-left: 18px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: var(--desc-text-color);
    
}

.contact__btn{
    margin-top: 29px;
    margin-bottom: 60px;
    margin-left: 630px;
    padding: 13px 25px;
    font-size: 20px;
    line-height: 123.6%;
    color: var(--main--bg-color);
    background: #FF5300;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
}

/* ************ CONTACT STYLE ENDS*************** */

.cert-section{
    padding-top: 125px;
    padding-bottom: 125px;
}

.cert__img:not(:last-child){
    margin-right: 100px;
}










/* ************ MAIN STYLE ENDS*************** */


/* ************ SOCIAL RIGHT SIDE STYLE STARTS*************** */
.hero-social{
    right: 0px;
    bottom: 350px;
    position: sticky;
    text-align: right;
}

.social{
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__social--link{
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: var(--main--bg-color);
    color: var(--subtitle-text-color);
    transition: 1s ease;
}

.hero__social--link:hover{
    width: 100px;
    background-color: var(--subtitle-text-color);
    color: var(--main--bg-color);
}
/* ************ SOCIAL RIGHT SIDE STYLE ENDS*************** */

